﻿@{
    ViewData["Title"] = "Nannies Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var nannies = (List<Microsoft.AspNetCore.Identity.IdentityUser>)ViewData["Nannies"];

}

<div class="text-center">
    <h1 class="display-4">Here you can view all nannies</h1>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <td>Username</td>
                <td>Email</td>
                <td>Phone number</td>
                <td>Confirmed</td>
            </tr>
        </thead>
        <tbody>
            @if (nannies != null)
            {
                foreach (var nanny in nannies)
                {
                    <tr>
                        <td>@nanny.UserName</td>
                        <td>@nanny.Email</td>
                        <td>@nanny.PhoneNumber</td>
                        <td>@nanny.PhoneNumberConfirmed</td>
                        @if (User.IsInRole("Customer"))
                        {
                            <td>
                                <input type="datetime-local" />
                            </td>
                            <td>
                                <button class="btn btn-primary">Place order</button>
                            </td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
</div>